@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: rgb(69,56,201);
  background: linear-gradient(144deg, rgba(38, 29, 108) 0%, rgba(78, 35, 106) 50%, rgba(103, 15, 16) 100%);
  background-repeat: no-repeat;
  background-position: center;
  font-family: "Inter", sans-serif;
  background-attachment:fixed;
}

header {
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
}

nav {
  height: 100px;
}

.container-header {
  padding: 0 2.5rem;
}

.custom-toggler.navbar-toggler {
  border: none;
}

.custom-toggler .navbar-toggler-icon {
  background-image: url(
"data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255)' stroke-width='4' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.right-nav-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;
  gap: 2rem;
  margin: 1.5rem 2rem 0 0;
}

.navbar-language {
  font-size: 2rem;
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: white;
}

.first-section {
  width: 100%;
  height: 36rem;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}

.section-name {
  font-size: 1.30rem;
  margin: 0;
  font-weight: 400;
  color: white;
}

.section-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  padding: 2.5rem;
}

.section-container img {
  width: 650px;
  position: absolute;
  right: 8rem;
}

.section-container .intro h1 {
  font-size: 4rem;
  font-weight: 700;
  color: white;
  margin-bottom: 1.5vw;
}

.section-container .intro p {
  font-size: 1.25rem;
  font-weight: 300;
  width: 500px;
  color: white;
  margin-bottom: 2vw;
}

.section-container .intro button {
  font-size: 22px;
  font-weight: 400;
  border: 2px solid #9878BA;
  border-radius: 5px;
  background: none;
  padding: 8px 40px;
  color: white;
}

/* QUEM SOU EU */

.section {
  width: 100%;
  height: 43.53rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.section-name-sec {
  font-size: 1.30rem;
  padding: 2.5rem;
  padding-left: 2.5rem;
  font-weight: 400;
  color: white;
  width: 100%;
  text-align: start;
}

.about-me-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  padding: 0 2.5rem 2.5rem 2.5rem;
  height: 100%;
}

.about-me {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  width: 100%;
}

.about-me img {
  width: 11.25rem;
}

.about-me-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 43.75rem;
}

.about-me-text p {
  font-size: 1rem;
  font-weight: 300;
  color: white;
  margin: 0;
}

.tech-skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  width: 100%;
}

.tech-skills-name {
  font-size: 1.1rem;
  font-weight: 400;
  color: white;
  margin: 0;
  width: 100%;
}

.tech-skills-columns {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 1.25rem;
  width: 100%;
}

.skills-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  width: 100%;
}

.skill {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 280px;
  border-radius: 0.813rem;
  background-color: rgba(255, 255, 255, 0.151);
  color: #fff;
  gap: 1rem;
  padding: 0.75rem 0;
}

.language-skill {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  gap: 10px;
  width: 100%;
  padding-left: 1rem;
}

.language-skill img {
  width: 40px;
}

.language-skill p {
  margin: 0;
  line-height: 1.2rem;
}

.language-skill-info {
  display: flex;
  flex-direction: column;
  gap: 0.313rem;
}

.language-skill-name {
  font-size: 1.125rem;
  font-weight: 600;
  color: white;
  margin: 0;
}

.language-skill-years {
  font-size: 15px;
  font-weight: 300;
  color: white;
  margin: 0;
}

.skill button {
  font-size: 0.938rem;
  font-weight: 500;
  border: none;
  border-radius: 0.313rem;
  background: none;
  padding: 3px 25px;
  color: white;
  background-color: #ffffff33;
}

.tech-skills-ver-mais {
  font-size: 1.25rem;
  font-weight: 600;
  border: none;
  border-radius: 0.5rem;
  background: none;
  padding: 3px 40px;
  color: white;
  background-color: #ffffff49;
}